.heepo, article, section, header, p{
	margin: 0 ;
	padding: 0 ;
}
.heepo{	position: relative; 
		overflow: hidden;
	  	font-family: Georgia, "Times New Roman", "Microsoft YaHei", 
	  				"微软雅黑", STXihei, "华文细黑", serif;
	  }
.about{
	width: 100%;
	height: 14px;
	font-size: 25px;
	color: black;
	background-color: white;
	position: relative;
	overflow: hidden;
	padding: 18px;
}

.about .teamName{position: absolute;left: 20px;top: 10px;font-weight: bold;}
.about .logo{position: absolute;right: 57px;top: 12px;}
.about .logo a{text-decoration: none;}

.under{
	width: 360px;
	padding: 20px;
	font-size: 20px;
	background-color: #5DB2A2;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin-left: 200px;
	margin-top: 70px;
	margin-bottom: 20px;
	line-height: 1.5em;
}


.under img{float: left; margin: -50px 0 0 -100px;}



.post{
	width: 360px;
	padding: 20px;
	font-size: 20px;
	background-color: #5DB2A2;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin-right: 200px;
	float: right;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 1.5em;
}


.post img{float: right; margin: -50px -100px 0 0;}
