.heepo, article, section, header, p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.heepo {
	margin: 0 auto;
	text-align: center;
	font-family: Georgia, "Microsoft YaHei", 
	  				"微软雅黑", STXihei, "华文细黑", serif;
	position: relative;
}
.about {
	background-color: #C7C2B8;
	font-weight: bold;
}
.about .teamName {
	width: 6em;
	height: 1em;
}
.logo img {
	width: 2em;
	height: 2em;
}

.heepo section{
	background-color: #5DB2A2;
  	border: 1px solid #C7C2B8;
  	width: 75%;
  	line-height: 2em;
  	padding: 0.7em;
  	border-radius: 1.5em;
  	color: #765555;
}
.under {
  	margin: 5em 0 0 17%;
}
.under img{
	float: left;
	margin: -3.3em 0 0 -4.5em;
}
.clearfix:after {
	content:" "; 
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.clearfix {
	*zoom:1;
}
.post {
	position: absolute;
	right: 17%;
	margin-top: 5em;
}
.post img{
	float: right;
	margin: -3em -4.5em 0 0;
}
.under img, .post img {
	width: 3em;
	height: 3em;
}


@media only screen and (min-width: 20em) {

.about .teamName {
	margin: 3em 0 1.5em;
	width: 18em;
	height: 3em;
}
.about {
	height: 11em;
}
.heepo section{
	font-size: 1em;
  	line-height: 2em;
 	padding: 1.5em 0.7em;
 	border: 1px solid #77757E;
	background-color: #77757E;
	-webkit-transition: all 1s ease-in-out;
	transiton: all 1s ease-in-out;
}
.under {
  	margin: 2.5em 0 0 55%;
  	-webkit-transition: all 1s ease-in-out;
	transiton: all 1s ease-in-out;
}
.under p, .post p {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	transiton: all 1s ease-in-out;
}
.under img, .post img {
	width: 6em;
	height: 6em;
	-webkit-transition: all 1s ease-in-out;
	transiton: all 1s ease-in-out;
}
.under:hover{
		margin: 2.5em 0 0 17%;
		background-color: #C7C2B8;
	}
	
.under:hover p, .post:hover p {
		opacity: 1;
	}
.under:hover img {
	width: 3em;
	height: 3em;
}
.post {
	margin-top: 2.5em;
	right: 50%;
}

.post:hover {
	right: 17%;
	background-color: #C7C2B8;
}
.post:hover img {
	width: 3em;
	height: 3em;
}

}

@media only screen and (min-width: 30em) {
	.about {
		height: 3em;
	}
	.about .teamName {
		padding: 0;
		font-size: 1em;
		position: absolute;
		left: 1.5em;
		top: 0.8em;
	}
	.about .logo {
		position: absolute;
		right: 1.5em;
		top: 0.6em;
	}
	.heepo section {
  		line-height: 1.5em;
 		padding: 1em 1em;
	}
	.under {
		margin: 4em 0 0 15%;
	}
	.post {
		margin-top: 3em;
	}

}

@media only screen and (min-width: 48em) {
	.about {
		margin-top: 3em;
		height: 3.5em;
	}
	.about .teamName {
		font-size: 1.5em;
		position: absolute;
		top: 0.5em;
	}
	.about img {
		margin-top: 0.3em;
	}
	.heepo section {
		width: 35%;
		font-size: 1.3em;
		border-radius: 1em;
	}
	/*.heepo section{
		border: 1px solid #77757E;
		background-color: #77757E;
		-webkit-transition: all 1s ease-in-out;
		transiton: all 1s ease-in-out;
	}
	.under {
		margin: 5em 0 0 53%;
		-webkit-transition: all 1s ease-in-out;
		transiton: all 1s ease-in-out;
	}
	.under p {
		opacity: 0;
		-webkit-transition: all 1s linear;
		transiton: all 1s linear;
	}
	.under:hover {
		margin: 5em 0 0 15%;
		background-color: #5DB2A2;
  		border: 1px solid #ccc;
	}
	
	.under:hover p {
		opacity: 1;
	}
	*/
	.under img {
		margin: -3em 0 0 -5em;
	}


	.post {
		margin-top: 5em;
	}
	.post img {
		margin: -3em -5em 0 0;
	}

}
